.page {
  min-height: 100vh;
  background-color: var(--mantine-color-body);
}

.surface {
  border: 1px solid var(--mantine-color-gray-3);
  padding: var(--mantine-spacing-lg);
  background-color: var(--mantine-color-white);
}

@media (min-width: $mantine-breakpoint-sm) {
  .surface {
    padding: var(--mantine-spacing-xl);
  }
}
