.page {
  min-height: 100vh;
  background: var(--mantine-color-white);
}

.surface {
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 1px solid var(--mantine-color-gray-3);

  @media (min-width: $mantine-breakpoint-sm) {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
